.alert {
  position: fixed;
  bottom: 0em;
  left: 40%;
  left: calc(50% - 7em);
  max-width: 15em;
  background-color: white;
  color: #333;
  padding: 2em 1.5em;
  border-radius: 1em;
  animation: slideInBottom 1s ease;
  box-shadow: 0px 5px 5px lightgrey;
}

@keyframes slideInBottom {
  from {
    bottom: -6em;
  }
  to {
    bottom: 0em;;
  }
}
@keyframes slideInTop {
  from {
    top: -6em;
  }
  to {
    top: 0em;;
  }
}
@keyframes rotate {
  to {
    transform: rotateZ(360deg)
  }
}

.text {
  margin-left: 1em;
}
.icon {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: rotate 1s linear infinite;
}
.rotate {
  animation: rotate 1s linear infinite;
}