.nav {
  transition: all .1s ease-in-out;
}
@media all and (max-width: 50em) {
  .nav {
    padding-right: 3.3em !important;
  }
}
.notVisible {
  opacity: 0;
  height: 0;
  top: -7em !important;
}
.visible {
  opacity: 1;
  height: auto;
  top: 0;
}
.toggle {
  position: fixed;
  top: 2em;
  right: 2em;
  border: 1px solid #333;
  border-radius: 50%;
}
.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg)
  }
}