.tweet {
  max-width: 42em;
  overflow: hidden;
  transition: box-shadow .1 s ease;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  color: #333 !important;
  padding: 1em;
}
.tweet:hover {
  box-shadow: 5px 0px 20px lightgrey;
}
.tweet p {
  white-space: pre-line;
  white-space: pre-wrap;
}
