.tweet {
  max-width: 42em;
  overflow: hidden;
}
.tweet p {
  white-space: pre-line;
  white-space: pre-wrap;
}

.timeline {
  max-height: 100%;
  /* background: red !important; */
  /* margin-top: 3em; */
  /* padding-top: 3em; */
}